psycopg2-binary

torch
sentence-transformers
transformers

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp

pydantic-settings
pydantic

qdrant-client

fastapi
uvicorn

langgraph
langchain-core
langchain-groq
groq
langchain-ollama